<tr>
  <td class="col-sm-4  order-info" id="receiver-info">
    <%= category.name %>
  </td>
  <td class="col-sm-4  order-info" id="receiver-info">
    <%= category.id %>
  </td>
  <td class="col-sm-2 text-center">
    <%= link_to "", [:admin, category], class: "glyphicon glyphicon-trash",
      method: :delete, data: {confirm: t("you_sure") } %>
  </td>
</tr>
